<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <form action="/registro" method="post">
        <div>
            <label>nombre y apellido</label>
            <input type="text" name="nombre y apllido">
        </div>
        <div>
            <label>nombre de usuario</label>
            <input type="text" name="nombre de usuario">
        </div>
        <div>
            <label for="fecha">Start date:</label>
<input type="date" id="fecha" name="fecha-nacimiento"
       value=""

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </form>
</body>
</html>